* {
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  margin: 0 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

.sandwich-menu {
  width: 40px;
  height: 40px;
  display: none;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.app-dark {
  background-color: #262626;
}

.app-light {
  background-color: #e6e6e6;
}

input {
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: none;
  margin-right: 1rem;
  padding: 10px;
  margin-top: 3rem;
  outline: none;
}

.input-dark {
  background-color: #687380;
  color: #fff;
  border: none;
}

button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  transition: opacity 0.5s;
}

button:hover {
  opacity: 0.75;
}

button:active {
  opacity: 0.5;
}

.button-light {
  background-color: #c4c4c4;
  color: #403f3f;
}

.button-dark {
  background-color: #555E6E;
  color: #fff;
}

.watch-light {
  background-color: #A6A0AE;
  color: #fff;
}

.watch-dark {
  background-color: #687380;
  color: #fff;
}

.watch {
  border-radius: 5px;
  width: 6rem;
  height: 4rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.watch div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.sandwich-button {
  background: transparent;
}

.stopwatch {
  display: flex;
  background: transparent;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  width: 18rem;
  height: 18rem;
}

.stopwatch .watch {
  width: 100%;
  height: 100%;
  flex: 1;
}

.chess-watch {
  display: flex;
  background: transparent;
  margin: auto auto;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 180px;
  width: 200px;
}

.chess-watch div {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.reset-stopwatch-button {
  margin-bottom: 2rem;
}

.set-clock {
  width: 90px;
}

.button-set-clock {
  margin-top: 20px;
}

.watch div {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar {
  height: calc(100vh - 20px);
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  padding: 10px;
  z-index: 999;
}

.sidebar-light {
  background-color: #d6bdb8;
}

.sidebard-light button {
  color: #322;
}

.sidebar-dark {
  background-color: #373737;
}

.sidebar-dark button {
  color: #fff;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  width: 40%;
}


.sidebar-content button {
  margin-top: 40px;
  font-size: 1rem;
  background: transparent;
}

.watch {
  width: 90%;
  height: 50%;
  font-size: 4rem;
  border-radius: 25px;
}

input {
  height: 40px;
  border-radius: 10px;
}

button {
  height: 60px;
  border-radius: 10px;
}

.sandwich-menu {
  display: inline-block;
  margin-right: 15px;
}

.sandwich-menu-dark {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(197deg) brightness(106%) contrast(106%);
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}

